.ssheet_cont {
width: 700px;
height: 450px;
/*float: left;*/
display: inline-block;
overflow-y:hidden;
}

/*
.dhx_chart_legend {
visibility: hidden;
diplay: none
}
*/

.dhx_chart_legend .hidden {
visibility: visible;
display: block;
}

